#nav {
  min-height: 100vh;
  background-image: url("../img/navback.png");
  background-color: #15283c;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  z-index: 3;
}

#nav #small-cord {
  padding: 10px;
  background-color: #214162;
  display: flex;
  justify-content: space-around;
}

#nav #small-cord img {
  width: 46px;
  margin-left: 6px;
  height: 46px;
  border-radius: 100px;
}

#nav #small-cord div {
  font-size: 16px;
  padding-left: 10px;
  width: 150px;
  height: 30px;
  line-height: 30px;
}

#nav #small-cord #work {
  font-size: 14px;
  left: 70px;
  position: absolute;
  top: 40px;
  color: #1ed085;
}

#nav .column_a {
  line-height: 20px;
  text-decoration: none;
  color: #F4F4F4;
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  height: 40px;
  margin-top: 20px;
  transition: all 0.3s;
  border-bottom: 2px #214162 solid;
  font-size: 16px;
  font-weight: 500;
}

#nav .column_a:hover {
  background-color: #325881;
  border-bottom: 2px white solid;
}

#nav .column_a i {
  padding: 2px;
  margin-left: 25px;
  width: 22px;
  height: 20px;
}

.nav1 {
  min-width: 200px;
  max-width: 200px;
}

.nav1 span {
  display: block;
}

.nav2 {
  min-width: 70px;
  max-width: 70px;
}

.nav2 span {
  display: none;
}

#head {
  height: 60px;
  z-index: 2;
  background-color: #15283C;
  position: fixed;
  top: 0;
  color: white;
  transition: all 0.3s;
}

#head #sidebarCollapse {
  border: none;
  padding: 14px 30px 14px;
  height: 100%;
  font-size: 21px;
  background-color: #ff5722;
  cursor: pointer;
  float: left;
  color: white;
}

#head #logo {
  width: 150px;
  height: 40px;
  float: left;
  margin: 10px;
}

#head #head-cord {
  min-width: 150px;
  background-color: #ff5722;
  cursor: pointer;
  float: right;
  position: relative;
  padding: 12px 0 12px 10px;
  height: 100%;
  color: white;
  display: flex;
}

#head #head-cord img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

#head #head-cord .username {
  color: white;
  padding-left: 5px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
}

#head #head-cord #head-cord-fade {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  float: left;
  padding: 10px 6px;
  font-size: 15px;
  color: #212529;
  box-shadow: #b1aeae 0px 0px 6px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
  width: 100%;
  border: none;
  display: none;
}

#head #head-cord #head-cord-fade .dropdown-item {
  font-size: 15px;
  display: block;
  color: #15283c;
  padding: 4px 15px;
  border-bottom: none;
  line-height: normal;
}

#head #head-cord #head-cord-fade .dropdown-item:hover {
  background-color: #15283c;
  color: white;
}

#head #head-cords {
  width: 80px;
  display: block;
  background-color: #ff5722;
  cursor: pointer;
  float: right;
  height: 100%;
  text-align: center;
  line-height: 60px;
  color: white;
}

.head1 {
  width: 100%;
  padding-left: 200px;
}

.head2 {
  width: 100%;
  padding-left: 70px;
}

#body {
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;
  transition: all 0.3s;
}

#body #begin-main {
  width: 100%;
  height: 600px;
  background-color: wheat;
}

.body1 {
  padding: 60px 20px 20px 220px;
}

.body2 {
  padding: 60px 20px 20px 100px;
}
